<launch>

  <!--启动规划器，生成轨迹 -->
<include file="$(find multi_bspline_opt)/launch/traj_id.launch">
    <arg name="uav_id" value="0"/>
  <arg name="traj_order" 		value="3" /><!-- 轨迹阶数 -->
  <!--<arg name="control_points_number"	value="30" />-->
  <arg name="dimension" 		value="2" /><!-- 2维 -->
  <arg name="TrajSampleRate" 		value="50" /><!-- 10, 20, 30 , ... ,-->
<!--  <arg name="beta" 			value="2.0" />-->
  <arg name="max_vel" 			value="3" />
  <arg name="max_acc" 			value="2.5" /><!-- 最大速度与加速度 -->

  <arg name="goal_x" 			value="9.0" />
  <arg name="goal_y" 			value="-10.0" />
  <arg name="lambda1" 			value="5.0" />
  <arg name="lambda2" 			value="1.0" />
  <arg name="lambda3" 			value="20.0" />    <!-- 光滑 可行 避障权重 -->
    <arg name="lambda4" 			value="20.0" />   <!-- swarm 避障权重 -->
  <arg name="lambda5" 			value="20.0" />
  <arg name="lambda6" 			value="5.0" />
  <arg name="esdf_collision" 		value="3" /> <!-- 小于此值则认为轨迹有碰撞 -->
  <arg name="frame" 			value="world" />     <!-- 参考系 -->
  <arg name="map_resolution" 		value="0.1" />
  <arg name="start_x" 			value="-39.95" />
  <arg name="start_y" 			value="39.95" />   <!-- 地图起始点 -->
  <arg name="safe_distance" 		value="6.0" /> <!-- 安全距离 -->
    <arg name="swarm_clearance" 		value="4.0" />
  <arg name="dist_p" 			value="0.5" />       <!-- 均匀b样条每段长度：0.5 -->
      <arg name="planning_horizen_" 		value="10.0" />
  <!-- <arg name=" planning_horizen_time" 			value="0.5" />        -->
  </include>
	

<include file="$(find multi_bspline_opt)/launch/traj_id.launch">
    <arg name="uav_id" value="1"/>
  <arg name="traj_order" 		value="3" /><!-- 轨迹阶数 -->
  <!--<arg name="control_points_number"	value="30" />-->
  <arg name="dimension" 		value="2" /><!-- 2维 -->
  <arg name="TrajSampleRate" 		value="50" /><!-- 10, 20, 30 , ... ,-->
<!--  <arg name="beta" 			value="2.0" />-->
  <arg name="max_vel" 			value="3" />
  <arg name="max_acc" 			value="2.5" /><!-- 最大速度与加速度 -->

  <arg name="goal_x" 			value="9.0" />
  <arg name="goal_y" 			value="-10.0" />
  <arg name="lambda1" 			value="5.0" />
  <arg name="lambda2" 			value="5.0" />
  <arg name="lambda3" 			value="20.0" />    <!-- 光滑 可行 避障权重 -->
    <arg name="lambda4" 			value="20.0" />
  <arg name="lambda5" 			value="20.0" />
  <arg name="lambda6" 			value="15.0" />
  <arg name="esdf_collision" 		value="5" /> <!-- 小于此值则认为轨迹有碰撞 -->
  <arg name="frame" 			value="world" />     <!-- 参考系 -->
  <arg name="map_resolution" 		value="0.1" />
  <arg name="start_x" 			value="-39.95" />
  <arg name="start_y" 			value="39.95" />   <!-- 地图起始点 -->
  <arg name="safe_distance" 		value="6.0" /> <!-- 安全距离 -->
    <arg name="swarm_clearance" 		value="4.0" />
  <arg name="dist_p" 			value="0.5" />       <!-- 均匀b样条每段长度：0.5 -->
    <arg name="planning_horizen_" 		value="10.0" />
    <!-- <arg name=" planning_horizen_time" 			value="0.5" />   -->
  </include>

  <include file="$(find multi_bspline_opt)/launch/traj_id.launch">
    <arg name="uav_id" value="2"/>
  <arg name="traj_order" 		value="3" />

  <arg name="dimension" 		value="2" />
  <arg name="TrajSampleRate" 		value="50" />

  <arg name="max_vel" 			value="3" />
  <arg name="max_acc" 			value="2.5" />

  <arg name="goal_x" 			value="9.0" />
  <arg name="goal_y" 			value="-10.0" />
  <arg name="lambda1" 			value="5.0" />
  <arg name="lambda2" 			value="5.0" />
  <arg name="lambda3" 			value="20.0" />    
    <arg name="lambda4" 			value="20.0" />
  <arg name="lambda5" 			value="20.0" />
  <arg name="lambda6" 			value="15.0" />
  <arg name="esdf_collision" 		value="5" /> 
  <arg name="frame" 			value="world" />  
  <arg name="map_resolution" 		value="0.1" />
  <arg name="start_x" 			value="-39.95" />
  <arg name="start_y" 			value="39.95" />   
  <arg name="safe_distance" 		value="6.0" /> 
    <arg name="swarm_clearance" 		value="4.0" />
  <arg name="dist_p" 			value="0.5" />      
    <arg name="planning_horizen_" 		value="10.0" />

  </include>

<include file="$(find multi_bspline_opt)/launch/traj_id.launch">
    <arg name="uav_id" value="3"/>
  <arg name="traj_order" 		value="3" />

  <arg name="dimension" 		value="2" />
  <arg name="TrajSampleRate" 		value="50" />

  <arg name="max_vel" 			value="3" />
  <arg name="max_acc" 			value="2.5" />

  <arg name="goal_x" 			value="9.0" />
  <arg name="goal_y" 			value="-10.0" />
  <arg name="lambda1" 			value="5.0" />
  <arg name="lambda2" 			value="5.0" />
  <arg name="lambda3" 			value="20.0" />   
    <arg name="lambda4" 			value="20.0" />
  <arg name="lambda5" 			value="20.0" />
  <arg name="lambda6" 			value="15.0" />
  <arg name="esdf_collision" 		value="5" />
  <arg name="frame" 			value="world" />    
  <arg name="map_resolution" 		value="0.1" />
  <arg name="start_x" 			value="-39.95" />
  <arg name="start_y" 			value="39.95" /> 
  <arg name="safe_distance" 		value="6.0" /> 
    <arg name="swarm_clearance" 		value="4.0" />
  <arg name="dist_p" 			value="0.5" />      
    <arg name="planning_horizen_" 		value="10.0" />

  </include>

  <include file="$(find multi_bspline_opt)/launch/traj_id.launch">
    <arg name="uav_id" value="4"/>
  <arg name="traj_order" 		value="3" />

  <arg name="dimension" 		value="2" />
  <arg name="TrajSampleRate" 		value="50" />

  <arg name="max_vel" 			value="3" />
  <arg name="max_acc" 			value="2.5" />

  <arg name="goal_x" 			value="9.0" />
  <arg name="goal_y" 			value="-10.0" />
  <arg name="lambda1" 			value="5.0" />
  <arg name="lambda2" 			value="5.0" />
  <arg name="lambda3" 			value="20.0" />    
    <arg name="lambda4" 			value="25.0" />
  <arg name="lambda5" 			value="25.0" />
  <arg name="lambda6" 			value="15.0" />
  <arg name="esdf_collision" 		value="5" /> 
  <arg name="frame" 			value="world" />     
  <arg name="map_resolution" 		value="0.1" />
  <arg name="start_x" 			value="-39.95" />
  <arg name="start_y" 			value="39.95" />   
  <arg name="safe_distance" 		value="6.0" /> 
    <arg name="swarm_clearance" 		value="4.0" />
  <arg name="dist_p" 			value="0.5" />      
    <arg name="planning_horizen_" 		value="10.0" />

  </include>


</launch>