<launch>
  <arg name="map_size_x" value ="40.0"/>
  <arg name="map_size_y"  value ="40.0"/>
  <arg name="map_size_z" value ="3.0"/>
  <arg name="init_x" value="0.0"/>
  <arg name="init_y" value="0.0"/>
  <arg name="init_z" value="1.0"/> 
  <arg name="c_num" value="200"/>
  <arg name="p_num" value="200"/>
  <arg name="odometry_topic" value="/sim/odom" />

  <node pkg="local_sensing_node" type="pcl_render_node" name="pcl_render_node" output="screen">
        <rosparam command="load" file="$(find local_sensing_node)/params/camera.yaml" />
        <param name="sensing_horizon"  value="5.0" />
        <param name="sensing_rate"     value="30.0"/>
        <param name="estimation_rate"  value="30.0"/>

        <param name="map/x_size"     value="$(arg map_size_x)"/>
        <param name="map/y_size"     value="$(arg map_size_y)"/>
        <param name="map/z_size"     value="$(arg map_size_z)"/>

        <remap from="~global_map" to="/mock_map"/>
        <remap from="~odometry"   to="$(arg odometry_topic)"/>
  </node>
</launch>
