    <launch>
    <!--路径搜索-->
    <arg name="map_size_x_" value="42.0"/>
    <arg name="map_size_y_" value="30.0"/>
    <arg name="map_size_z_" value=" 5.0"/>
   <!-- <arg name="odom_topic" value="global_odom" /> -->
 <include file="$(find multi_grid_path_searcher)/launch/path_search.launch">
    <arg name="uav_id_" value="0"/>
    <arg name="target_x_" value="10.0"/>
    <arg name="target_y_" value="10.0"/>
     <arg name="resolution" value="0.1"/>
     <arg name="map_size_x"  value="map_size_x_" />
      <arg name="map_size_y"  value="map_size_y_" />
      <!-- <arg name="map_size_z"  value="map_size_z_" />  -->
     <arg name="sight_radius" value=" 5.0"/>
     <arg name = "interval" value=" 0.5"/>
      <arg name="init_x_" value="-20.0"/>
      <arg name="init_y_" value="-9.0"/>
 </include>
 </launch>